In [1]:
import numpy as np
from scipy.stats import *
import pandas as pd

In [2]:
x = [1, 2, 3, 4, 5]
print(np.var(x, ddof = 1)) # 분모 = n -1 (5-1), 표본
print(np.array(x).var()) # 분모 = n
print(pd.Series(x).var(ddof = 0)) # 분모 = n , 자유도 = 0 (모분산)

2.5
2.0
2.0

In [4]:
x1 = np.array([1, 2, 3, 4, 5])
x2 = x1 * 10 
print(np.std(x1, ddof = 1)) # 표준편차 
print(np.std(x2, ddof = 1))

1.5811388300841898
15.811388300841896

In [6]:
print(variation(x1)) # 변동계수 계산 
print(variation(x2))

0.47140452079103173
0.4714045207910317

In [11]:
x1 = np.array([1, 2, 3, 4, 5])
x2 = x1 *10 
print(np.std(x1, ddof = 1) / np.mean(x1)) # 변동계수 계산 
print(np.std(x2, ddof = 1) / np.mean(x2))

0.5270462766947299
0.5270462766947299

In [14]:
z1 = (x1 - x1.mean()) / x1.std() # Standard Scaling
z2 = (x2 - x2.mean()) / x2.std()
print(z1)
print(z2)

[-1.41421356 -0.70710678  0.          0.70710678  1.41421356]
[-1.41421356 -0.70710678  0.          0.70710678  1.41421356]

In [15]:
z1 = (x1 - x1.min()) / (x1.max() - x1.min())  # Min-max Scaling
z2 = (x2 - x2.min()) / (x2.max() - x2.min()) 
print(z1)
print(z2)

[0.   0.25 0.5  0.75 1.  ]
[0.   0.25 0.5  0.75 1.  ]

In [16]:
X = pd.DataFrame({"X1":[1, 2, 3, 4, 5],
"X2": [10, 20, 30, 40, 50]})
X

   X1  X2
0   1  10
1   2  20
2   3  30
3   4  40
4   5  50

In [24]:
from sklearn.preprocessing import MinMaxScaler
X = pd.DataFrame({"X1":[1, 2, 3, 4, 5],
"X2": [10, 20, 30, 40, 50]})
X
scaler = MinMaxScaler()
Z = scaler.fit_transform(X)
pd.DataFrame(Z, columns=['X1', 'X2'])

     X1    X2
0  0.00  0.00
1  0.25  0.25
2  0.50  0.50
3  0.75  0.75
4  1.00  1.00

In [25]:
x = np.random.normal(100, 20, size = 1000)
print(np.ptp(x)) # 범위
print(np.max(x) - np.min(x))
print(np.quantile(x, 0.75) - np.quantile(x, 0.25)) # 사분위 범위
print(iqr(x))

129.4733127978921
129.4733127978921
26.673220422848104
26.673220422848104